<style>
    footer
    {
      background-color: rgba(17, 16, 16, 0.897);
      text-align: center;
      color: #9b9696;
      width: 100%;
      padding: 16px;
      margin-top: 140px;
      flex-shrink: 0;
      bottom: 0;
    
    }
    .footer-item:hover
    {
      color:white;
      font-weight: normal;
    }
    

</style>

<footer>

    <br>
    <div class="container-fluid">
         <div class="row">
        <div class="col-sm-12 ">
         <p class="footer-item"> Copyrights &copy; Mock Master 2022 </p>
         <br>
        </div>
      </div>
  
  
    </div>
  </footer>